* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}
body {
    font: normal 0.8em 'trebuchet ms', arial, sans-serif;
    background: #F0EFE2;
    color: #777;
}
.header {
    background: #404040;
    border-bottom: 1px solid #FFF;
    height: 240px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}
.page_canter {
	width: 873px;
    overflow: hidden;
    margin: auto;
    padding: 25px;
    background: #FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu {
    width: 875px;
    height: 71px;
    padding: 0px 0 0 0px;
    border: 1px solid #6A6A6A;
    border-bottom: 0;
    background: #555 url("../images/menu.png") repeat-x;
	flex: 1;
    margin: auto;
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu a {
    flex-basis: auto;
    text-align: center;
    padding: 0 10px;
    display: flex;
    letter-spacing: 0.1em;
    font: normal 100% 'trebuchet ms', arial;
    color: #CDC090;
    text-transform: uppercase;
    border-right: 1px solid #6A6A6A;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.link:hover{
    color: white;
    background-color: #d5c6c6;
}

.logo {
	width: 875px;
	flex: 2.3;
    margin: auto;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo h1 {
	font: normal 300% 'century gothic', arial, sans-serif;
	color: #777;
    letter-spacing: 0.1em;
}
.logo a {
	color: #777;
    letter-spacing: 0.1em;
}
.title {
	margin: 0 0 20px 0;
}
.form {
	border: 1px solid #bfc1c1;
    padding: 20px;
	background: #ededed;
}
.form input, .form textarea {
	width: 100%;
	padding: 8px;
    /* margin: 0.2em 0 1em 0; */
	border: 1px solid #bfc1c1;
}
.form input[type="submit"]{
	background: #404040;
	width : auto;
	color: #fff;
	margin: 0;
}
.green {
	background: #cef1ce;
}
.red {
	background: red;
	color: white;
}
.message {
	padding: 6px;
}
.table {
	display: flex;
    text-align: center;
}
.table .row {
	width: 100%;
    padding: 10px;
    margin: 1px;
	flex: 1;
	word-break:break-all;
}
.table .r{
	flex:5;
}
.table .tblHeader {
	background: #404040;
    color: white;
}
.table .rows {
	background: white;
}
.questinInfo {
	display: flex;
	flex-direction: column;
}
.qst {
	flex: 1;
	display: flex;
}
.question {
	flex-direction: column;
    background: white;
    padding: 15px;
    border: 1px solid #bfc1c1;
    margin: 10px 0;
}
.questinInfo h2 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #A4AA04;
}
.questinInfo h4 {
    font: normal 120% arial, sans-serif;
    color: #A4AA04;
}
.questinInfo input:not([type='submit']) {
    padding: 5px;
}
.qMargin  {
    margin: 5px 0px 15px 0;
}
.choiceSection {
	flex-direction: column;
	margin-left: 17%;
}
.inputFlex {
	flex: 5;
}
.lbl {
	align-items: center;
}
.qType, .qCategory, .cName, .qSelect{
	padding: 5px;
    border: 1px solid #bfc1c1;
}
.choiceButtonGroup {
	flex-direction: column;
}
.newQButton {
	column-gap: 15px;
}
.rightSubmit {
	justify-content: flex-end;
	column-gap: 10px;
}
.rightSubmit input, .newQButton input{
	width: auto;
}
.childChoice {
	column-gap: 20px;
}
.addchild input {
	flex-basis: 95px;
}
.buttonbg input{
	background: #404040;
    color: white;
	padding: 10px !important;
}
.justline{
	border: 1px dotted #bfc1c1;
	margin: 5px 0 15px;
}


.footer {
	display: flex;
    margin: auto;
    width: 875px;
    font: normal 100% "lucida sans unicode";
    height: 50px;
    background: #555 url("../images/menu.png") repeat-x;
    color: #CDC090;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    align-items: center;
    justify-content: center;
}

.added_question {
	margin: 10px 0;
	background: white;
	padding: 15px;
	font-size: 18px;
	border: 1px solid #bfc1c1;
	display: flex;
	flex-direction: column;
}
/* .added_question input { */
	/* width: auto; */
	/* margin-top: 5px; */
/* } */
.q_choices {
	/* justify-content: space-between; */
	margin: 8px 0;
}
.delete_Button {
	justify-content: flex-end;
}
.delete_Button input{
	flex-basis: 95px;
}
.cho_start, .cho_end {
	flex: 1;
}
.cho_start {
	display: flex;
    align-items: center;
    column-gap: 10px;
}
.cho_start input {
	width: auto;
}
.cho_start input[type='TEXT']{
	width: 100%;
}
.cho_end {
    display: flex;
    justify-content: flex-end;
}
.select_condition {
	width : 100%;
}
.que_cho {
	margin-left: 33px;
}
#questions{
	
	margin: 20px 0;
}
#questions h3{
	font: normal 175% 'century gothic', arial, sans-serif;
    color: #1181e1;
}

.nav-tab-active {
	color: black  !important;
	background: #ededed !important;
}
.nav-tab-wrapper {
	height: 21px;
	
}
.tab-content.active {
	display: block !important;
}
.tab-content {
	display: none;
	border: 1px solid #bfc1c1;
	padding: 20px;
	background: #ededed;
	
}


.nav-tab {
    background: #6A6A6A;
	border: 1px solid #bfc1c1;
	border-bottom: 0;
    padding: 7px 15px;
    border-radius: 3px 3px 0 0;
	color: #CDC090;
}



@media screen and (max-width:390px) {
	.header {
		height: 185px;
	}
	.logo {
		width: auto;
		justify-content: center;
	}
	.menu {
		height: auto;
		width: auto;
	}
	.menu a {
		font-size: 88%;
	}
	.page_canter {
		width: auto;
	}
	.qst {
		flex: 1;
	}
	.inputFlex {
		flex: 3;
	}
	.choiceSection {
		margin-left: 0;
	}
	.footer {
		width: auto;
	}
	.nav-tab {
		padding: 7px 10px;
	}
	.table .r {
		flex: 1;
	}
	.tab-content {
		padding: 5px;
	}
	.table .tblHeader {
		font-size: 10px;
	}
}


















